@page "/timePeriods"
@using Microsoft.AspNetCore.Authorization
@using Volo.Abp.Application.Dtos
@using Lyubishchev.TimePeriods;
@using Lyubishchev.Localization;
@using Microsoft.Extensions.Localization
@using Volo.Abp.BlazoriseUI
@*@using Volo.Abp.AspNetCore.Components.Web*@
@inject IStringLocalizer<LyubishchevResource> L
@*@inject AbpBlazorMessageLocalizerHelper<LyubishchevResource> LH*@
@inherits AbpCrudPageBase<Lyubishchev.ITimePeriodAppService,TimePeriodDto, Guid,PagedAndSortedResultRequestDto, CreateUpdateTimePeriodDto>

<Card>
    <CardHeader>
        <h2>@L["Menu:TimePeriods"]</h2>
    </CardHeader>
    <CardBody>
        <DataGrid TItem="TimePeriodDto"
                  Data="Entities"
                  ReadData="OnDataGridReadAsync"
                  TotalItems="TotalCount"
                  ShowPager="true"
                  PageSize="PageSize">
            <DataGridColumns>
                <DataGridColumn TItem="TimePeriodDto"
                                Field="@nameof(TimePeriodDto.Start)"
                                Caption="@L["Start"]">
                                <DisplayTemplate>
                        @context.Start.ToShortTimeString()
                                </DisplayTemplate>
                </DataGridColumn>
                <DataGridColumn TItem="TimePeriodDto"
                                Field="@nameof(TimePeriodDto.End)"
                                Caption="@L["End"]">
                                <DisplayTemplate>
                                    @context.End.ToShortTimeString()
                                </DisplayTemplate>
                </DataGridColumn>
                                
            </DataGridColumns>
        </DataGrid>
    </CardBody>
</Card>

<h1>
    yyyyy

</h1>
<p>
    ssssss
</p>



@code {

}
